UserInterface/Service References/Commanding/SimpleTwitterCommandService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SimpleTwitterCommandService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:30244/SimpleTwitterCommandService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:30244/SimpleTwitterCommandService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:30244/SimpleTwitterCommandService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Commands" />
      <xsd:import schemaLocation="http://localhost:30244/SimpleTwitterCommandService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ncqrs.Commanding" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISimpleTwitterCommandService_Execute_InputMessage">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="ISimpleTwitterCommandService_Execute_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleTwitterCommandService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ISimpleTwitterCommandService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleTwitterCommandService_CreateNewChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewChannel" />
  </wsdl:message>
  <wsdl:message name="ISimpleTwitterCommandService_CreateNewChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewChannelResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleTwitterCommandService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="ISimpleTwitterCommandService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleTwitterCommandService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="ISimpleTwitterCommandService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleTwitterCommandService_SetUserProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUserProperty" />
  </wsdl:message>
  <wsdl:message name="ISimpleTwitterCommandService_SetUserProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleTwitterCommandService_SetUserPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUserPassword" />
  </wsdl:message>
  <wsdl:message name="ISimpleTwitterCommandService_SetUserPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="ISimpleTwitterCommandService">
    <wsdl:operation name="Execute">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleTwitterCommandService/Execute" message="tns:ISimpleTwitterCommandService_Execute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleTwitterCommandService/ExecuteResponse" message="tns:ISimpleTwitterCommandService_Execute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleTwitterCommandService/Delete" message="tns:ISimpleTwitterCommandService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleTwitterCommandService/DeleteResponse" message="tns:ISimpleTwitterCommandService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleTwitterCommandService/CreateNewChannel" message="tns:ISimpleTwitterCommandService_CreateNewChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleTwitterCommandService/CreateNewChannelResponse" message="tns:ISimpleTwitterCommandService_CreateNewChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleTwitterCommandService/CreateUser" message="tns:ISimpleTwitterCommandService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleTwitterCommandService/CreateUserResponse" message="tns:ISimpleTwitterCommandService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleTwitterCommandService/DeleteUser" message="tns:ISimpleTwitterCommandService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleTwitterCommandService/DeleteUserResponse" message="tns:ISimpleTwitterCommandService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUserProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleTwitterCommandService/SetUserProperty" message="tns:ISimpleTwitterCommandService_SetUserProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleTwitterCommandService/SetUserPropertyResponse" message="tns:ISimpleTwitterCommandService_SetUserProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUserPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleTwitterCommandService/SetUserPassword" message="tns:ISimpleTwitterCommandService_SetUserPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleTwitterCommandService/SetUserPasswordResponse" message="tns:ISimpleTwitterCommandService_SetUserPassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISimpleTwitterCommandService" type="tns:ISimpleTwitterCommandService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://tempuri.org/ISimpleTwitterCommandService/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ISimpleTwitterCommandService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewChannel">
      <soap:operation soapAction="http://tempuri.org/ISimpleTwitterCommandService/CreateNewChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/ISimpleTwitterCommandService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/ISimpleTwitterCommandService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserProperty">
      <soap:operation soapAction="http://tempuri.org/ISimpleTwitterCommandService/SetUserProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserPassword">
      <soap:operation soapAction="http://tempuri.org/ISimpleTwitterCommandService/SetUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleTwitterCommandService">
    <wsdl:port name="BasicHttpBinding_ISimpleTwitterCommandService" binding="tns:BasicHttpBinding_ISimpleTwitterCommandService">
      <soap:address location="http://localhost:30244/SimpleTwitterCommandService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>