UserInterface/Service References/ReadModelService/ReadModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ReadModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReadModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfTweetIndexItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TweetIndexItem" nillable="true" type="tns:TweetIndexItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTweetIndexItem" nillable="true" type="tns:ArrayOfTweetIndexItem" />
  <xs:complexType name="TweetIndexItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Channel" type="ser:guid" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Who" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TweetIndexItem" nillable="true" type="tns:TweetIndexItem" />
  <xs:complexType name="ArrayOfChannelIndexItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChannelIndexItem" nillable="true" type="tns:ChannelIndexItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChannelIndexItem" nillable="true" type="tns:ArrayOfChannelIndexItem" />
  <xs:complexType name="ChannelIndexItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChannelIndexItem" nillable="true" type="tns:ChannelIndexItem" />
  <xs:complexType name="ArrayOfUserIndexItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserIndexItem" nillable="true" type="tns:UserIndexItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserIndexItem" nillable="true" type="tns:ArrayOfUserIndexItem" />
  <xs:complexType name="UserIndexItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authenticated" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Properties" nillable="true" type="q1:ArrayOfKeyValueOfstringUserProperty2VBfErB7" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserIndexItem" nillable="true" type="tns:UserIndexItem" />
  <xs:complexType name="UserProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="Format" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProperty" nillable="true" type="tns:UserProperty" />
</xs:schema>